.bg-black { background-color: #000; }
.bg-granate { background-color: #570900; }
.bg-grey { background-color: #EEE; }
.bg-orange { background-color: #faad41; }
.bg-pink { background-color: #f9dadd; }
.bg-white { background-color: #FFF; }
.bg-tidningen-se { background-color: #004389; }
.bg-dynamite-orange { background-color: #f5a818; }
.bg-dynamite-green { background-color: #d4d977; }
.bg-longdrink-blue { background-color: #4bc6d1; }
.bg-beer-brown { background-color: #de910b; }
.bg-beige { background-color: #decc9e; }