/* Borders */
.border-solid-white { border: 1px solid #fff; }
.border-solid-black { border: 1px solid #000; }

/* Bottom Borders */
.bottom-border-solid-black { border-bottom: 0.2em solid #000; }
.bottom-border-solid-orange { border-bottom: 0.2em solid #faad41; }
.bottom-border-solid-red { border-bottom: 0.2em solid #ce181e; }
.bottom-border-solid-tidningen-se { border-bottom: 0.2em solid #004389; }
