
/* Font Sizes */
.font-size-four-vmin { font-size: 4vmin; }
.font-size-product-vmin { font-size: 50%; }
.font-size-nav-link { font-size: 16px; }
.font-size-product-link { font-size: 14px; }
.font-size-10-px { font-size: 10px; }
.font-size-12-px { font-size: 12px; }
.font-size-14-px { font-size: 14px; }
.font-size-16-px { font-size: 16px; }
.font-size-18-px { font-size: 18px; }
.font-size-20-px { font-size: 20px; }
.font-size-22-px { font-size: 22px; }
.font-size-24-px { font-size: 24px; }
.font-size-35-px { font-size: 35px; }
.font-size-105-em { font-size: 1.5em; }

/* font Family */
.font-family-bookman-old { font-family: 'Bookman Old Style', serif; }