/* Screen resolution - up to 1200px */

/* Screen resolution - up to 768px */
@media only screen and (max-width: 768px) { 
	#topNav-one { display: block; }
}

/* Screen resolution - up to 500px */
@media only screen and (max-width: 500px) { 
	header #mobile-navigation #user img { max-width: 1.8em; }
}

/* Screen resolution - between 681 and 768px */
@media only screen and (min-width: 681px) and (max-width: 768px) { 
	header { margin-top: 0px; }
	header #mobile-navigation #menu-activate { padding: 0px 0px 0px 0px; margin-top: 1em; margin-left: 25%; }
	header #mobile-navigation h1.logo { max-width: 6em; }
	header #mobile-navigation #user img { width: 100%; max-width: 1.7em; margin-right: 0em; }
	#zone-one { margin-top: 3em; z-index: 777; }
	#zone-one .container { margin-left: 0.5%; margin-right: 0.5%; } 
	.ad img { width: 100%; padding: 0; margin: 0; }
}

/* Screen resolution - between 600 and 680px */
@media only screen and (min-width: 600px) and (max-width: 680px) { 
	header { margin-top: 0px; }
	header #mobile-navigation #menu-activate { padding: 0px 0px 0px 0px; margin-top: 1em; margin-left: 15%; }
	header #mobile-navigation h1.logo { max-width: 5em; }
	header #mobile-navigation #user img { width: 100%; max-width: 1.6em; margin-left: 60%; margin-right: 0; }
	#zone-one { margin-top: 3em; z-index: 777; }
	#zone-one .container { margin-left: 0.5%; margin-right: 0.5%; } 
	.ad img { width: 100%; padding: 0; margin: 0; }
}

/* Screen resolution - between 200 and 599px */
@media only screen and (min-width: 200px) and (max-width: 599px) { 
	header { margin-top: 0px; }
	header #mobile-navigation #menu-activate { padding: 0px 0px 0px 0px; margin-top: 1em; margin-left: 5%; }
	header #mobile-navigation h1.logo { max-width: 4em; }
	header #mobile-navigation #user img { width: 100%; max-width: 1.5em; margin-right: 5%; }
	#zone-one { margin-top: 3em; z-index: 777; }
	#zone-one .container { margin-left: 0.5%; margin-right: 0.5%; } 
	.ad img { width: 100%; padding: 0; margin: 0; }
}

/* Screen resolution - between 200 and 769px */
@media only screen and (min-width: 200px) and (max-width: 769px) { 
	article .col-xs-3 { max-width: 25%; }
	article .col-xs-9 { max-width: 72%; }
}



