
/* Container Rules */
.container-fluid { padding: 0; }
section .row { margin: 0; padding: 0; padding: 0; margin: 0; }
section .container { padding: 0; padding-left: 15px; padding-right: 15px; max-width: 100%; }
section .container-fluid .jumbotron { margin-bottom: 0; border-radius: 0; }

/* List Rules */
.nav-tabs>li { margin: 0; }

/* Link Rules */
a, a:visited, a:active { text-decoration: none; }

/* Input Rules */
.input-group-addon { text-align: left; }

/* Margin Rules */
.no-margin { margin: 0; }
.nav-margin-top-07 { margin-top: 0.7em; }
section .widget-margin-top { margin-top: 1em; }

/* Padding Rules */
.no-padding { padding: 0; }
.nav-padding { padding: 1em 1em 1em 1em; }
.nav-padding-top { padding-top: 1em; }
.nax-padding-top-05 { padding-top: 0.5em; }
.nav-padding-left { padding-left: 1em; }
.nav-padding-right { padding-right: 1em; }
.nav-padding-bottom { padding-bottom: 1em; }
.nav-padding-bottom-05 { padding-bottom: 0.5em; }
.nav-padding-bottom-2 { padding-bottom: 2em; }
.nav-padding-bottom-3 { padding-bottom: 3em; }
.nav-padding-bottom-4 { padding-bottom: 4em; }
section .widget-padding-top { padding-top: 1em; }
section .widget-padding-left { padding-left: 1em; }
section .container-padding-left { padding-left: 0.5em; }
section .container-padding-right { padding-right: 0.5em; }

/* Vertical Alignment */
.vertical-bottom { vertical-align: bottom; vertical-align: text-bottom; }

/* Box rules */
.navigation-box { box-shadow: 0 6px 8px rgba(0,0,0,.175); }

/* UL Rules */
ul { list-style-type: none; }
ul.dummy {
position: absolute;
z-index: 1000;
float: left;
list-style: none;
text-align: left;
right: 0;
left: 0;
margin: 0 auto;
padding: 0;
}
