
/* Container Rules */
.container-fluid { padding: 0; }
section .row { margin: 0; padding: 0; padding: 0; margin: 0; }
section .container { padding: 0; padding-left: 15px; padding-right: 15px; max-width: 100%; }
section .container-fluid .jumbotron { margin-bottom: 0; border-radius: 0; }

/* List Rules */
.nav-tabs>li { margin: 0; }

/* Link Rules */
a, a:visited, a:active { text-decoration: none; }

/* Input Rules */
.input-group-addon { text-align: left; }

/* Margin Rules */
.no-margin { margin: 0; }
section .widget-margin-top { margin-top: 1em; }

/* Padding Rules */
.no-padding { padding: 0; }
.nav-padding-top { padding-top: 1em; }
.nav-padding-bottom { padding-bottom: 1em; }
.nav-padding-bottom-2 { padding-bottom: 2em; }
.nav-padding-bottom-3 { padding-bottom: 3em; }
.nav-padding-bottom-4 { padding-bottom: 4em; }
#topNav-one .nav-padding-bottom-nine-percent { padding-bottom: 9%; }
#topNav-one .nav-padding-top-nine-percent { padding-bottom: 9%; }
section .widget-padding-top { padding-top: 1em; }
section .widget-padding-left { padding-left: 1em; }
section .container-padding-left { padding-left: 0.5em; }
section .container-padding-right { padding-right: 0.5em; }

/* Vertical Alignment */
.vertical-bottom { vertical-align: bottom; vertical-align: text-bottom; }
